{% extends "header.html" %}

{% block body %}
<div class="header">
	<h1 id="title"><a href="/">{{ config['blog_title'] }}</a> <span>/post</span></h1>
</div>
<div class="postForm">
    <form method="post">
    	<div class="postBlock">
	    	<div class="inputContainer">
		    	<center>
		        	<input autocomplete="off" type="text" name="title" id="title" placeholder="Title">
		    	</center>
	    	</div>
	    	<div class="textareaContainer">
	    		<center>
	        		<textarea autocomplete="off" name="post" id="post" placeholder="Start writing nao"/></textarea>
	        	</center>
	        </div>
        </div>
        <div class="submitContainer">
        	<center>
        		<button type="submit" value="Submit" id="submit">Publish</button>
        	</center>
        </div>
    </form>
</div>
{% endblock %}
